html {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
body {
  margin: 0;
}
h1 {
  text-align: center;
}

section {
  margin: 0.5em;
}

.subtitle {
  font-weight: bold;
}

.programming-languages i {
  font-size: 7em;
}
