html {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
body {
  margin: 0;
}

header {
  margin: 0;
  background-color: #f6f8fa;
  border-bottom: 1px solid #000;
}

main {
  margin: 0;
  padding: 5px;
}
header h1 {
  margin: 0;
  padding: 0.4em 0.3em;
}

h1 {
  margin: 0.5em 0.3em;
}

h2 {
  border-bottom: 2px solid #d1d9e0b3;
  font-weight: 600;
  margin-bottom: 0.3em;
}

#presentation p {
  text-align: justify;
}

.job {
  margin-top: 0;
}

.job-info {
  display: flex;
}

.job-image {
  max-width: 120px;
  min-width: 90px;
  min-height: 80px;
  width: 3em;
  aspect-ratio: 1/1;
  margin: 20px 10px;
}

.job-title {
  font-size: 0.8rem;
}

.job-image img {
  width: 100%;
  object-fit: contain;
  display: block;
}

.job-details p {
  margin: 0;
}

.job-details ul {
  margin: 0;
}

.job-details li {
  margin: 0;
}

section {
  margin: 0.5em;
}

.job-details h3 {
  margin-bottom: 0;
}

h3 i {
  font-size: 0.7rem;
  text-align: center;
}

.job-location,
.job-date {
  font-size: 0.8rem;
  font-weight: 400;
  color: #666;
}

ul {
  margin: 0.8em 0;
  padding-left: 1.2em;
  font-size: 0.8rem;
}

li {
  margin: 0.3em 0;
}

.project {
  display: flex;
  align-items: center;
}

.project img {
  max-width: 200px;
}

.project-description {
  text-align: justify;
  font-size: 0.8rem;
}

.project-description h3 {
  font-size: 1.2rem;
  margin: 10px 0px;
}

.project-description p{
  margin: 10px 0px;
}
